<a routerLink="/product/product-list">Back to home</a>
<h3>Create Product</h3>
<form (ngSubmit)="onsubmit()" [formGroup]="createForm">
  <p>Name</p>
  <input type="text" placeholder="name" formControlName="productName">
  <p>Image</p>
  <input type="text" placeholder="image" formControlName="productImage">
  <p>Description</p>
  <input type="text" placeholder="Description" formControlName="productDescription">
  <p>Status</p>
  <input type="text" placeholder="status" formControlName="productStatus">
  <br>
  <br>
  <button type="submit">Submit</button>
</form>
