<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="../../../../assets/images/logo1.png" height="150px" width="250px" style="padding: 10px">
        <hr class="light">
        <p>123123123</p>
        <p>coffeelb@gmail.com</p>
        <p>HaNoi ádasdasdasd</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>123123123</p>
        <p>coffeelb@gmail.com</p>
        <p>HaNoi ádasdasdasd</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <p>123123123</p>
        <p>coffeelb@gmail.com</p>
        <p>HaNoi ádasdasdasd</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Coffee Little Bean</h5>
      </div>
    </div>
  </div>
</footer>
