<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../../../assets/images/logo1.png" height="60px" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav  justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" href="">HomePage |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-product">Service |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edit-product" >AboutUs |</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="delete-product">My Account |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-search"></i> |</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
